<header>

	<section class="tabs">

		<div class="wrapper clearfix">

			<nav class="nav-inline nav-tabs">
				<ul>
					<%= nav_link("Applications", "/school/applications") %>
					<%= nav_link("Donations", "/school/donations") %>
					<%= nav_link("Disbursements", "/school/disbursements") %>
				</ul>
			</nav>
		</div>

	</section>

</header>

<article class="profile">

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<%= form_tag "#", method: :get, :class => "box form form-normal" do %>

				<div class="box-header">
					Actions
				</div>

				<div class="box-content">

					<div class="grid">

						<div class="xl-3 l-3 ltl-12">
							<%= link_to("Record Pledge", "#", :class => "btn btn-secondary btn-block open-overlay") %>
						</div>

						<div class="xl-3 l-3 ltl-12">
							<%= link_to("Record Paper Donation", "#", :class => "btn btn-secondary btn-block") %>
						</div>

					</div>

				</div>
				<% end %>

				<!-- About - List of inputs -->
				<section class="box">

					<header class="box-header">
						About
					</header>

					<form class="box-content form form-horizontal xl-2-and-10 l-2-and-10 ltl-12-and-0">

						<label class="form-field">
							<span class="label">Donations</span>
							<span class="input placeholder">
								541
							</span>
						</label>

						<label class="form-field">
							<span class="label">In Progress</span>
							<span class="input placeholder">
								$20,390
							</span>
						</label>

						<label class="form-field">
							<span class="label">Disbursed</span>
							<span class="input placeholder">
								$3,120
							</span>
						</label>

						<label class="form-field">
							<span class="label">Pledged</span>
							<span class="input placeholder">
								$5,340
							</span>
						</label>

						<label class="form-field">
							<span class="label">Leading Donor</span>
							<span class="input placeholder">
								Mike Lindell
							</span>
						</label>

					</form>

				</section>

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Donations
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-15">
							<col class="w-20">
							<col class="w-15">
							<col class="w-20">
							<col class="w-15">
							<col class="w-15">
						</colgroup>

						<thead>
							<tr>
								<th>
									Date
								</th>
								<th>
									Donor
								</th>
								<th>
									Amount
								</th>
								<th>
									Method
								</th>
								<th>
									Match
								</th>
								<th>
									Status
								</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>
									10/20/2015
								</td>
								<td>
									<a href="#">Tyler Henke</a>
								</td>
								<td>
									$400
								</td>
								<td>
									Credit Card
								</td>
								<td>
									Yes
								</td>
								<td>
									Pledged
								</td>
							</tr>

							<tr>
								<td>
									10/20/2015
								</td>
								<td>
									<a href="#">Tim Henke</a>
								</td>
								<td>
									$200
								</td>
								<td>
									Credit Card
								</td>
								<td>
									No
								</td>
								<td>
									Processed
								</td>
							</tr>

						</tbody>

						<tfoot>
							<tr>
								<td colspan="6" class="view-more">
									<a href="#">View more results</a>
								</td>
							</tr>
						</tfoot>

					</table>

				</div>

			</section>

		</div>

	</div>

</div>

</article>

<div class="overlay" style="display:none;">

	<%= render 'shared/close_overlay' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-8 l-8 ltl-12 center-x">

				<%= form_tag "#", :class => "box form form-normal" do |f| %>

				<div class="box-header">
					New Pledge
				</div>

				<div class="box-content">

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Amount</span>
							<input type="text" class="input" placeholder="$">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">First Name</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Last Name</span>
							<input type="text" class="input">
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Middle Initial</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Email Address</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Phone Number</span>
							<input type="text" class="input">
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Pledge Date</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
						</label>

					</div>

					<hr>

					<%= submit_tag "Submit", :class => "btn btn-secondary btn-block" %>

				</div>

				<% end %>

			</div>

		</div>

	</div>

</div>


