<header>

	<section class="tabs">

		<div class="wrapper clearfix">

			<nav class="nav-inline nav-tabs">
				<ul>
					<%= nav_link("Applications", "/school/applications") %>
					<%= nav_link("Donations", "/school/donations") %>
					<%= nav_link("Disbursements", "/school/disbursements") %>
				</ul>
			</nav>
		</div>

	</section>

</header>

<article class="profile">

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<%= form_tag "#", method: :get, :class => "box form form-normal" do %>

				<div class="box-header">
					Actions
				</div>

				<div class="box-content">

					<div class="grid">

						<div class="xl-3 l-3 ltl-12">
							<%= link_to("Request Disbursement", "#", :class => "btn btn-secondary btn-block open-overlay") %>
						</div>

					</div>

				</div>
				<% end %>

				<!-- About - List of inputs -->
				<section class="box">

					<header class="box-header">
						About
					</header>

					<form class="box-content form form-horizontal xl-4-and-8 l-4-and-8 ltl-12-and-0">

						<label class="form-field">
							<span class="label">Last Disbursement</span>
							<span class="input placeholder">
								10/20/2015
							</span>
						</label>

						<label class="form-field">
							<span class="label">Last Disbursement Amount</span>
							<span class="input placeholder">
								$10,440
							</span>
						</label>

					</form>

				</section>

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Disbursements
					</header>

					<div class="table-responsive">

						<table class="box-content table">

							<colgroup>
							<col class="w-15">
							<col class="w-15">
							<col class="w-15">
							<col class="w-15">
							<col class="w-15">
							<col class="w-25">
						</colgroup>

						<thead>
							<tr>
								<th>
									ID
								</th>
								<th>
									Date
								</th>
								<th>
									Amount
								</th>
								<th>
									Type
								</th>
								<th>
									Awards
								</th>
								<th>
									Status
								</th>
							</tr>
						</thead>

						<tbody>

							<tr>
								<td>
									<%= link_to("00192831", "#") %>
								</td>
								<td>
									10/20/15
								</td>
								<td>
									$500
								</td>
								<td>
									One Time
								</td>
								<td>
									12
								</td>
								<td>
									Disbursement Pending
								</td>
							</tr>

							<tr>
								<td>
									<%= link_to("00192843", "#") %>
								</td>
								<td>
									10/20/15
								</td>
								<td>
									$700
								</td>
								<td>
									Monthly
								</td>
								<td>
									9
								</td>
								<td>
									Disbursement Made
								</td>
							</tr>

						</tbody>

						<tfoot>
							<tr>
								<td colspan="6" class="view-more">
									<a href="#">View more results</a>
								</td>
							</tr>
						</tfoot>

					</table>

				</div>

			</section>

		</div>

	</div>

</div>

</article>

<div class="overlay" style="display:none;">

	<%= render 'shared/close_overlay' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-8 l-8 ltl-12 center-x">

				<%= form_tag "#", :class => "box form form-normal" do |f| %>

				<div class="box-header">
					Search
				</div>

				<div class="box-content">

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Application ID</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Status</span>
							<div class="select">
								<select class="input" id="school_type_id" name="school_type_id">
									<option value="1">Approved</option>
									<option value="1">Pending School</option>
									<option value="1">Pending Household</option>
								</select>
							</div>
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Applicant</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Date</span>
							<input type="text" class="input">
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Student</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
						</label>

					</div>

					<hr>

					<%= submit_tag "Submit", :class => "btn btn-secondary btn-block" %>

				</div>

				<% end %>

			</div>

		</div>

	</div>

</div>

<div class="overlay" style="display:none;">

	<%= render 'shared/close_overlay' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-8 l-8 ltl-12 center-x">

				<%= form_tag "#", :class => "box form form-normal" do |f| %>

				<div class="box-header">
					New Disbursement
				</div>

				<div class="box-content">

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Type</span>
							<div class="select">
								<select class="input" id="school_type_id" name="school_type_id">
									<option value="1">Fall/Spring</option>
									<option value="1">Monthly</option>
								</select>
							</div>
						</label>

					</div>

					<div class="grid">

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Fall Date</span>
							<input type="text" class="input">
						</label>

						<label class="form-field xl-6 l-6 ltl-12">
							<span class="label">Spring Date</span>
							<input type="text" class="input">
						</label>

					</div>

					<hr>

					<%= submit_tag "Submit", :class => "btn btn-secondary btn-block" %>

				</div>

				<% end %>

			</div>

		</div>

	</div>

</div>





