<% if @child.errors.any? %>
<div class="alert alert-danger">
	<% @child.errors.full_messages.each do |msg| %>
	<%= msg %><br>
	<% end %>
</div>
<% end %>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">First Name</span>
			<%= f.text_field :first_name, :class => "input" %>
		</label>
	</div>
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Last Name</span>
			<%= f.text_field :last_name, :class => "input" %>
		</label>
	</div>
</div>

<div class="grid">
	<div class="xl-6 l-6 ltl-12">
		<label class="form-field">
			<span class="label">Birthday</span>
			<div class="birthday-select">
				<div class="select">
					<%= f.date_select :dob, {:start_year => Date.today.year, :end_year => Date.today.year - 100, :order => [:month, :day, :year], :prompt => { :day => 'Day', :month => 'Month', :year => 'Year'}, :date_separator => '</div><div class="select">'}, {:class => "input"} %>
				</div>
			</div>
		</label>
	</div>
</div>

<hr>

<%= f.submit "Save Child", :class => "btn btn-secondary btn-block" %>