<article class="profile">

	<%= render 'households/tab_navigation' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box">

					<div class="box-header">
						Actions
					</div>

					<div class="box-content">

						<div class="grid">

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("Add Child", new_household_child_path(@household), :class => "btn btn-secondary btn-block open-overlay") %>
							</div>

						</div>

					</div>

				</section>

				<% if @household.has_children? %>

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Children
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-15">
							<col class="w-15">
							<col class="w-70">
						</colgroup>

						<thead>
							<tr>
								<th>
									Name
								</th>
								<th>
									Age
								</th>
								<th>
									Last Application Submitted On
								</th>
							</tr>
						</thead>

						<tbody>

							<% @household.children.each do |c| %>
							<tr>
								<td>
									<%= link_to(c.first_name, edit_household_child_path(@household, c)) %>
								</td>
								<td>
									<%= c.age %>
								</td>
								<td>
									<% if c.has_applications? %>
										<%= link_to(c.most_recent_application.created_at.strftime("%m/%d/%Y"), "#") %>
									<% end %>
								</td>
							</tr>

							<% end %>

						</tbody>

					</table>

				</div>

			</section>

			<% end %>

			</div>

		</div>

	</div>

</article>