<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_id %><br>
    <%= f.text_field :school_id %>
  </div>
  <div class="field">
    <%= f.label :applicant_id %><br>
    <%= f.text_field :applicant_id %>
  </div>
  <div class="field">
    <%= f.label :requested_amount %><br>
    <%= f.text_field :requested_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
