<article class="profile">

  <%= render 'shared/date_header' %>

  <div class="wrapper">

    <% if notice %>

    <div class="main-alert">
      
      <div class="alert alert-success">
        
        <%= notice %>

      </div>
    
    </div>

    <% end %>

    <div class="grid">

      <div class="xl-12 l-12 ltl-12">

        <section class="box xl-12 ltxl-12">

          <header class="box-header">
            Applications
          </header>

          <div class="table-responsive">

            <table class="box-content table">

            <colgroup>
              <col class="w-5">
              <col class="w-10">
              <col class="w-12">
              <col class="w-13">
              <col class="w-12">
              <col class="w-13">
              <col class="w-10">
              <col class="w-10">
              <col class="w-15">
            </colgroup>

            <thead>
              <tr>
                <th></th>
                <th>
                  ID
                </th>
                <th>
                  School
                </th>
                <th>
                  Applicant
                </th>
                <th>
                  Email
                </th>
              </tr>
            </thead>

            <tbody>

              <% @applications.each do |application| %>

                <tr>
                  <td class="center">
                    <%= check_box_tag "edit" %>
                  </td>
                  <td>
                    <%= link_to(application.id, application) %>
                  </td>
                  <td>
                    <%= application.school.name %>
                  </td>
                  <td>
                    <%= application.applicant.child.full_name %>
                  </td>
                  <td>
                    <%= application.email %>
                  </td>
                </tr>

              <%end%>

            </tbody>

          </table>

        </div>

      </section>

    </div>

  </div>

</div>

</article>
