<article class="profile">

  <%= render 'shared/date_header' %>

  <div class="wrapper">

    <% if notice %>

    <div class="main-alert">
      
      <div class="alert alert-success">
        
        <%= notice %>

      </div>
    
    </div>

    <% end %>

    <div class="grid">

      <div class="xl-12 l-12 ltl-12">

        <%= form_tag "#", method: :get, :class => "box form form-normal" do %>

        <div class="box-header">
          Actions
        </div>

        <div class="box-content">

          <div class="grid">

            <div class="xl-3 l-3 ltl-12">
              <%= link_to("One Time Donation", new_donation_path(:type => "One Time"), :class => "btn btn-secondary btn-block") %>
            </div>

            <div class="xl-3 l-3 ltl-12">
              <%= link_to("Monthly Donation", new_donation_path(:type => "Monthly"), :class => "btn btn-secondary btn-block") %>
            </div>

            <div class="xl-3 l-3 ltl-12">
              <%= link_to("Stock Donation", "#", :class => "btn btn-secondary btn-block") %>
            </div>

          </div>

        </div>
        <% end %>

        <section class="box xl-12 ltxl-12">

          <header class="box-header">
            Donation History
          </header>

          <div class="table-responsive">

            <table class="box-content table">

            <colgroup>
              <col class="w-5">
              <col class="w-10">
              <col class="w-12">
              <col class="w-13">
              <col class="w-12">
              <col class="w-13">
              <col class="w-10">
              <col class="w-10">
              <col class="w-15">
            </colgroup>

            <thead>
              <tr>
                <th></th>
                <th>
                  ID
                </th>
                <th>
                  Date
                </th>
                <th>
                  Amount
                </th>
                <th>
                  Type
                </th>
                <th>
                  Method
                </th>
                <th>
                  Match
                </th>
                <th>
                  Status
                </th>
                <th>
                  TCCN
                </th>
              </tr>
            </thead>

            <tbody>

              <% current_user.donations.each do |donation| %>

                <tr>
                  <td class="center">
                    <%= check_box_tag "edit" %>
                  </td>
                  <td>
                    <%= link_to(donation.id, donation) %>
                  </td>
                  <td>
                    <%= donation.display_donation_date %>
                  </td>
                  <td>
                    <%= number_to_currency donation.amount %>
                  </td>
                  <td>
                    One Time
                  </td>
                  <td>
                    Credit Card
                  </td>
                  <td>
                    <%= donation.matched? %>
                  </td>
                  <td>
                    (Status TBI)
                  </td>
                  <td>
                    (TCCN TBI)
                  </td>
                </tr>

              <%end%>

            </tbody>

          </table>

        </div>

      </section>

      <section class="box xl-12 ltxl-12">

        <header class="box-header">
          Support
        </header>

        <div class="box-content form">
          <label class="form-field">
            <span class="label">Updating a Monthly Donation</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </label>
          <br>
          <label class="form-field">
            <span class="label">Status Descriptions</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </label>
        </div>
        
      </section>

    </div>

  </div>

</div>

</article>
