<article class="citizen profile">

	<% if user_signed_in? %>

	<%= render 'shared/back_header', :c => "Donations", :l => donations_path %>

	<% end %>

	<div class="wrapper">

		<div class="grid">

			<!-- User info -->
			<div class="xl-12 l-12 ltl-12">

				<!-- <form accept-charset="UTF-8" action="/schools" class="box form form-normal" method="get"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div> -->

					<div class="box-header">
						<%= params[:type] %> Donation
					</div>

					<%= form_for @donation do |f| %>
						<%= f.hidden_field :stripe_card_token %>

						<div class="box-content narrow">

							<%= f.fields_for :donor do |ff| %>

								<div class="grid">
									<div class="xl-4 l-4 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :donor_type %></span>
											<%= ff.select :donor_type, options_for_select(["Parent/Guardian", "Concerned Citizen"]), class: "input" %>
										</label>
									</div>
								</div>

								<% unless current_user %>

									<hr>

									<div class="grid">
										<div class="xl-6 l-6 ltl-12">
											<label class="form-field">
												<span class="label"><%= ff.label :email %></span>
												<%= ff.email_field :email, class: "input" %>
											</label>
										</div>
										<div class="xl-6 l-6 ltl-12">
										</div>
									</div>

									<div class="grid">
										<div class="xl-6 l-6 ltl-12">
											<label class="form-field">
												<span class="label"><%= ff.label :password %></span>
												<%= ff.password_field :password, class: "input"  %>
											</label>
										</div>
										<div class="xl-6 l-6 ltl-12">
											<label class="form-field">
												<span class="label"><%= ff.label :password_confirmation %></span>
												<%= ff.password_field :password_confirmation, class: "input"  %>
											</label>
										</div>
									</div>

							        <label class="form-field checkbox-wrap">
							            I accept the <a href="#">terms of use</a> of this site
							            <%= ff.check_box :terms_of_use %>
							        </label>

								<% end %>

								<hr>

								<div class="grid">
									<div class="xl-6 l-6 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :first_name %></span>
											<%= ff.text_field :first_name, class: "input"  %>
										</label>
									</div>
									<div class="xl-6 l-6 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :last_name %></span>
											<%= ff.text_field :last_name, class: "input"  %>
										</label>
									</div>
								</div>

								<div class="grid">
									<div class="xl-6 l-6 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :middle_initial %></span>
											<%= ff.text_field :middle_initial, class: "input"  %>
										</label>
									</div>
									<div class="xl-6 l-6 ltl-12">
									</div>
								</div>

								<div class="grid">
									<div class="xl-6 l-6 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :ssn, "SSN" %></span>
											<%= ff.text_field :ssn, class: "input"  %>
										</label>
									</div>
									<div class="xl-6 l-6 ltl-12">
									</div>
								</div>

								<div class="grid">
									<div class="xl-6 l-6 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :address, "Street Address" %></span>
											<%= ff.text_field :address, class: "input"  %>
										</label>
									</div>
									<div class="xl-2 l-2 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :apt, 'Apt #' %></span>
											<%= ff.text_field :apt, class: "input"  %>
										</label>
									</div>
								</div>

								<div class="grid">
									<div class="xl-6 l-6 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :city %></span>
											<%= ff.text_field :city, class: "input"  %>
										</label>
									</div>
									<div class="xl-2 l-2 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :state %></span>
											<%= ff.select :state, options_for_select(["IN"]	), class: "input"  %>
										</label>
									</div>
									<div class="xl-3 l-3 ltl-12">
										<label class="form-field">
											<span class="label"><%= ff.label :zip %></span>
											<%= ff.text_field :zip, class: "input"  %>
										</label>
									</div>
								</div>

							<% end %> 

							<hr>

							<div class="grid">
								<div class="xl-4 l-4 ltl-12">
									<label class="form-field">
										<span class="label">
											<%= f.label :amount %>
										</span>
										<%= f.text_field :amount, class: "input" %>
									</label>
								</div>
							</div>

							<%= f.fields_for :fund_designations do |ff| %>

								<%= render 'fund_designation_fields', f: ff %>

								<div class="links">
									<%= link_to_add_association 'Add New', f, :fund_designations %>
								</div>			

								<div class="grid">
									<div class="xl-12 l-12 ltl-12 field">
										<label class="form-field">
											<input type="checkbox" name="cooperative" value="1">
											<span class="display-box"></span>
											<span class="text">Apply all to general fund?</span>
										</label>
									</div>
								</div>	

							<% end %>

							<div class="grid">
								<div class="xl-4 l-4 ltl-12">
									<label class="form-field">
										<span class="label">Will the funds be matched?</span>
										<div class="select">
											<%= f.select :matched, options_for_select([['Yes', true], ['No', false]]) %>
										</div>
									</label>
								</div>
							</div>

							<hr>

							<div class="grid">
								<div class="xl-4 l-4 ltl-12">
									<label class="form-field">
										<span class="label">Payment Type</span>
										<div class="select">
											<select class="input" id="school_type_id" name="school_type_id">
												<option value="1">Credit Card</option>
											</select>
										</div>
									</label>
								</div>
								<div class="xl-2 l-2 ltl-12">
								</div>
							</div>

							<div class="grid">
								<div class="xl-6 l-6 ltl-12">
									<label class="form-field">
										<span class="label"><%= label_tag :card_number, "Card Number" %></span>
										<%= text_field_tag :card_number, nil, name: nil, class: "input" %>
									</label>
								</div>
								<div class="xl-3 l-3 ltl-12">
									<label class="form-field">
										<span class="label"><%= label_tag :card_month, "Expiration Date" %></span>
										<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
										<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
									</label>
								</div>
							</div>

							<div class="grid">
								<div class="xl-2 l-2 ltl-12">
									<label class="form-field">
										<span class="label"><%= label_tag :card_code, "Security Code" %></span>
										<%= text_field_tag :card_code, nil, name: nil, class: "input" %>
									</label>
								</div>
							</div>

							<div id="stripe_error">
								<noscript>Javascript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>	
							</div>

							<hr>

							<%= f.submit "Submit Payment", :class => "btn btn-secondary btn-block" %>

						</div>

					<% end %>

				<!-- </form> -->

			</div>

		</div>

	</div>

</article>