<article class="citizen profile">

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box">

					<header class="box-header">
						Donation #00192831
					</header>

					<form class="box-content form narrow form-horizontal xl-4-and-8 l-4-and-8 ltl-12-and-0">

						<h2>General</h2>

						<label class="form-field">
							<span class="label">Donation Type</span>
							<span class="input placeholder">
								<%= @donation.donation_type %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">Donation Method</span>
							<span class="input placeholder">
								Credit Card
							</span>
						</label>

						<label class="form-field">
							<span class="label">Donation Amount</span>
							<span class="input placeholder">
								<%= number_to_currency @donation.amount %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">Donor Name</span>
							<span class="input placeholder">
								<%= @donation.non_user_donor.full_name %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">Donor Address</span>
							<span class="input placeholder">
								<%= @donation.non_user_donor.address %><%if !@donation.non_user_donor.apt.blank? %>, Apt. <%= @donation.non_user_donor.apt %><%end%><br>
								<%= @donation.non_user_donor.city %>, <%= @donation.non_user_donor.state %> <%= @donation.non_user_donor.zip %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">Donor Type</span>
							<span class="input placeholder">
								<%= @donation.non_user_donor.donor_type %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">Donor SSN</span>
							<span class="input placeholder">
								<%= @donation.non_user_donor.display_ssn %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">Donation Date</span>
							<span class="input placeholder">
								<%= @donation.display_donation_date %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">TCCN Request Date</span>
							<span class="input placeholder">
								<%= @donation.display_request_date %>
							</span>
						</label>

						<label class="form-field">
							<span class="label">TCCN Status</span>
							<span class="input placeholder">
								DOR Confirmed
							</span>
						</label>

						<label class="form-field">
							<span class="label">SGO ID</span>
							<span class="input placeholder">
								101
							</span>
						</label>

						<% @donation.fund_designations.each do |f| %>

							<label class="form-field">
								<span class="label">School</span>
								<span class="input placeholder">
									<%= f.school.name %>
								</span>
							</label>

						<% end %>

						<label class="form-field">
							<span class="label">Amount Restricted</span>
							<span class="input placeholder">
								10%
							</span>
						</label>

						<label class="form-field">
							<span class="label">Last Edited By</span>
							<span class="input placeholder">
								Joan Doyle
							</span>
						</label>

						<hr>

						<h2>Match</h2>

						<label class="form-field">
							<span class="label">Donation Matched</span>
							<span class="input placeholder">
								<%= @donation.matched? %>
							</span>
						</label>

						<% if @donation.matched %>

							<label class="form-field">
								<span class="label">Matching Organization</span>
								<span class="input placeholder">
									<%= @donation.matching_organization %>
								</span>
							</label>

							<label class="form-field">
								<span class="label">Anticipated Match Amount</span>
								<span class="input placeholder">
									<%= number_to_currency @donation.match_amount %>
								</span>
							</label>

							<label class="form-field">
								<span class="label">Additional Information</span>
								<span class="input placeholder">
									More information can be found at http://sid3car.com
								</span>
							</label>

						<% end %>

						<hr>

						<div class="grid">

							<span class="xl-4 ltl-12">

								<button class="btn btn-secondary btn-block">Download Letter</button>

							</span>

							<span class="x1-4 ltl-12">
								<%= link_to "Home", root_path, class: "btn btn-secondary btn-block" %>
							</span>

						</div>

					</form>

				</section>

			</div>

		</div>

	</div>

</article>





