<%= form_for(@disbursement) do |f| %>
  <% if @disbursement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disbursement.errors.count, "error") %> prohibited this disbursement from being saved:</h2>

      <ul>
      <% @disbursement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disburse_date %><br>
    <%= f.date_select :disburse_date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :awards %><br>
    <%= f.number_field :awards %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
