<article class="profile">

  <%= render 'shared/basic_header' %>

  <div class="wrapper">

    <div class="grid">

      <div class="xl-6 l-6 ltl-12 center-x">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "box form form-normal sign-in"}) do |f| %>

        <div class="box-header">
          Sign In
        </div>

        <div class="box-content">

          <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
          <% end %>

          <div class="center">
            <%= image_tag("logo.png", :alt => "Institute for Quality Education") %>
          </div>
        </div>

        <div class="box-content color">

          <label class="form-field">
            <span class="label">Email</span>
            <%= f.email_field :email, autofocus: true, :class => "input" %>
          </label>

          <label class="form-field">
            <span class="label">Password</span>
            <%= f.password_field :password, autocomplete: "off", :class => "input" %>
          </label>

          <% if devise_mapping.rememberable? -%>
          <label class="form-field">
            Remember Me
            <%= f.check_box :remember_me %>
          </label>
          <% end -%>

          <%= f.submit "Sign In", :class => "btn btn-secondary btn-block" %>

          <hr>

          <div class="help-actions">
            <%= link_to("Help! I forgot my password", new_user_password_path) %>
            <br>
            <br>
            Or, <%= link_to("I need to create a new account", new_user_registration_path) %>
          </div>

        </div>

        <% end %>

      </div>

    </div>

  </div>

</article>

