<article class="profile">

	<%= render 'tab_navigation' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Applications
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-10">
							<col class="w-15">
							<col class="w-25">
							<col class="w-20">
							<col class="w-30">
						</colgroup>

						<thead>
							<tr>
								<th>
									ID
								</th>
								<th>
									Date
								</th>
								<th>	
									School
								</th>
								<th>
									Applicant(s)
								</th>
								<th>
									Status
								</th>
							</tr>
						</thead>

						<tbody>

							<% @applications.each do |a| %>

							<tr>
								<td>
									<%= link_to(a.display_id, sgo_show_application_path(a)) %>
								</td>
								<td>
									<%= a.created_at.strftime("%m/%d/%Y") %>
								</td>
								<td>
									<%= truncate(a.school.name, :length => 20) %>
								</td>
								<td>
									<%= a.applicants.each.map{|a| a.child.full_name}.join(', ') %>
								</td>
								<td>
									<%= a.current_status.display_status %>
								</td>
							</tr>

							<% end %>

						</tbody>

					</table>

				</div>

			</section>

			</div>

		</div>

	</div>

</article>