<article class="profile">

	<%= render 'tab_navigation' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box">

					<div class="box-header">
						Actions
					</div>

					<div class="box-content">

						<div class="grid">

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("Create New Application", new_application_school_path(@school), :class => "btn btn-secondary btn-block open-overlay") %>
							</div>

						</div>

					</div>

				</section>


				<section class="box">

					<header class="box-header">
						Overview
					</header>

					<section class="box-content form form-horizontal xl-4-and-8 l-4-and-8 ltl-12-and-0">

						<label class="form-field">
							<span class="label">Applications Submitted</span>
							<span class="input placeholder">
								<%= @school.applications.count %>
							</span>
						</label>

					</section>

				</section>

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Applications
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-10">
							<col class="w-15">
							<col class="w-20">
							<col class="w-25">
							<col class="w-30">
						</colgroup>

						<thead>
							<tr>
								<th>
									ID
								</th>
								<th>
									Date
								</th>
								<th>
									Applicant(s)
								</th>
								<th>
									Status
								</th>
								<th>
								
								</th>
							</tr>
						</thead>

						<tbody>

							<% @school.applications.each do |a| %>

							<tr>
								<td>
									<%= link_to(a.display_id, show_application_school_path(@school, a)) %>
								</td>
								<td>
									<%= a.created_at.strftime("%m/%d/%Y") %>
								</td>
								<td>
									<%= a.applicants.each.map{|a| a.child.full_name}.join(', ') %>
								</td>
								<td>
									<%= a.current_status.display_status %>
								</td>
								<td>
									<%= link_to("Verify Application", confirm_application_school_path(@school, a), :class => "btn btn-secondary") %>
								</td>
							</tr>

							<% end %>

						</tbody>

					</table>

				</div>

			</section>

			</div>

		</div>

	</div>

</article>