<article class="profile">

	<%= render 'shared/basic_header' %>

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">

				<section class="box">

					<header class="box-header">
						About
					</header>

					<div class="box-content">

						<div class="box-items">

							<div class="box-item">
								<h3 class="title">Welcome to the <%= @school.name %> SGO portal! </h3>
								<p>
									Welcome to the Institute for Quality Education’s Scholarship Granting Organization Administration System (SGOAS)! Here is where your school will manage applications, donations and disbursements regarding the Tax Credit Scholarship. Coming mid-May we will be releasing a functionality that will allow schools to invite as many additional users to the system as they would like. To being managing your scholarship applications simply click on the “Applications” tab above.
								</p>
								<br>
								<h3 class="title">After that...</h3>
								<p>
									Over the course of the next couple of months we will be implementing this new system in installments. You will see additional tabs added at the top of this landing page. Please refer to our email notifications for further information and instructions.
								</p>
								<p>
									To learn more about the Institute for Quality Education, visit <a href="http://www.i4qed.org" target="_blank">www.i4qed.org</a>.
								</p>
								<p><strong>Questions? Contact <a href="#">someone@i4qed.org</a> or call +1 (800) 542-1899</strong></p>
							</div>

						</div>

					</div>

				</section>


				<section class="box">

					<div class="box-header">
						Submit & Review Scholarship Applications
					</div>

					<div class="box-content">

						<div class="grid">

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("Create New Application", new_user_session_path, :class => "btn btn-secondary btn-block open-overlay") %>
							</div>

							<div class="xl-4 l-4 ltl-12">
								<%= link_to("View Application Status", new_user_session_path, :class => "btn btn-secondary btn-block") %>
							</div>

						</div>

					</div>

				</section>

				<section class="box">

					<div class="box-header">
						Make a Donation
					</div>

					<div class="box-content">

						<div class="box-items">

							<div class="box-item">
								<p>
									Coming soon! Make a cash or stock donation to <%= @school.name %> to qualify for an Indiana Tax Credit!
								</p>
							</div>

						</div>

					<!-- 
					<div class="grid">

						<div class="xl-3 l-3 ltl-12">
							<%= link_to("One Time Donation", "#", :class => "btn btn-secondary btn-block open-overlay") %>
						</div>

						<div class="xl-3 l-3 ltl-12">
							<%= link_to("Monthly Donation", "#", :class => "btn btn-secondary btn-block") %>
						</div>

						<div class="xl-3 l-3 ltl-12">
							<%= link_to("Stock Donation", "#", :class => "btn btn-secondary btn-block") %>
						</div>

					</div> -->

				</div>
				
			</section>

		</div>

	</div>

</div>

</article>