<!-- TODO: DRY up views for schools/households creating new applications -->

 <article class="profile">

 	<%= render 'shared/back_header', :c => "Applications", :l => applications_school_path(@school) %>

 	<div class="wrapper">

 		<div class="grid">

 			<div class="xl-12 l-12 ltl-12">

 				<%= form_for @application, :url => create_application_school_path(@school), :html => {:class => "box form form-normal"} do |f| %>

 				<div class="box-header">
 					New Application
 				</div>

 				<div class="box-content narrow">

 					<% if @application.errors.any? %>
 					<div class="alert alert-danger">
 						<% @application.errors.full_messages.each do |msg| %>
 						<%= msg %><br>
 						<% end %>
 					</div>
 					<% end %>

 					<h2>School Official</h2>
 					<div class="grid">
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">First Name</span>
 								<%= f.text_field :school_official_first_name, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Last Name</span>
 								<%= f.text_field :school_official_last_name, :class => "input" %>
 							</label>
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Email Address</span>
 								<%= f.text_field :school_official_email, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Confirm Email Address</span>
 								<%= f.text_field :school_official_confirm_email, :class => "input" %>
 							</label>
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Phone</span>
 								<%= f.text_field :school_official_phone, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-2 l-2 ltl-12">
 							<label class="form-field">
 								<span class="label">Ext #</span>
 								<%= f.text_field :school_official_phone_ext, :class => "input" %>
 							</label>
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-3 l-3 ltl-12">
 							<label class="form-field">
 								<span class="label">Academic Year</span>
 								<div class="select">
 									<%= f.select :school_year, options_for_select(Application::SCHOOL_YEARS.map{ |e| [e,e] }), {}, :class => "input" %>
 								</div>
 							</label>
 						</div>
 					</div>

 					<hr>

 					<h2>Applicant</h2>
 					<%= f.fields_for :applicants do |ff| %>
 						<%= render 'applicant', :f => ff %>
 					<% end %>
 					<hr>
 					<h2>Parent or Guardian</h2>

 					<div class="grid">
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">First Name</span>
 								<%= f.text_field :parent_first_name, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Last Name</span>
 								<%= f.text_field :parent_last_name, :class => "input" %>
 							</label>
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-4 l-4 ltl-12">
 							<label class="form-field">
 								<span class="label">Middle Initial</span>
 								<%= f.text_field :parent_middle_initial, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-8 l-8 ltl-12">
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-5 l-5 ltl-12">
 							<label class="form-field">
 								<span class="label">Email Address</span>
 								<%= f.text_field :email, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-5 l-5 ltl-12">
 							<label class="form-field">
 								<span class="label">Confirm Email Address</span>
 								<%= f.text_field :confirm_email, :class => "input" %>
 							</label>
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-5 l-5 ltl-12">
 							<label class="form-field">
 								<span class="label">Phone Number</span>
 								<%= f.text_field :phone, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-6 l-6 ltl-12"></div>
 					</div>

 					<label class="form-field"> 
 						<%= check_box_tag "same_address" %>
 						<span class="text">Address same as applicant(s)?</span>
 					</label>

 					<div class="grid">
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Address</span>
 								<%= f.text_field :address, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-2 l-2 ltl-12">
 							<label class="form-field">
 								<span class="label">Apt #</span>
 								<%= f.text_field :apartment_number, :class => "input" %>
 							</label>
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-5 l-5 ltl-12">
 							<label class="form-field">
 								<span class="label">City</span>
 								<%= f.text_field :city, :class => "input" %>
 							</label>
 						</div>
 						<div class="xl-2 l-2 ltl-12">
 							<label class="form-field">
 								<span class="label">State</span>
 								<%= f.text_field :state, :class => "input", :readonly => true %>
 							</label>
 						</div>
 						<div class="xl-2 l-2 ltl-12">
 							<label class="form-field">
 								<span class="label">Zip</span>
 								<%= f.text_field :zip, :class => "input" %>
 							</label>
 						</div>
 					</div>

 					<hr>

 					<label class="form-field">
 						<span class="label">Income Verification</span>
 						<p class="help-block">Enter the student's household information below. Include any government assistance, child support, etc. Please attach any files that could help the SGO verify this number.</p>
 					</label>

 					<div class="grid">
 						<div class="xl-3 l-3 ltl-12">
 							<label class="form-field">
 								<span class="label">Number in Household</span>
 								<div class="select">
 									<%= f.select :number_in_household, [1,2,3,4,5,6,7,8,9,10], {:include_blank => true}, :class => "input" %>
 								</div>
 							</label>
 						</div>
 					</div>

 					<div class="grid">
 						<div class="xl-5 l-5 ltl-12">
 							<label class="form-field">
 								<span class="label">Annual Household Income</span>
 								<%= f.text_field :household_income, :class => "input currency" %>
 							</label>
 						</div>
 					</div>

 					<%= f.fields_for :application_files do |ff| %>
 						<%= render 'application_file', :f => ff %>
 					<% end %>

 					<%= link_to_add_file "Add Another File", f %>

 					<br>
 					<br>

 					<label class="form-field" style="margin-bottom: .2em;">
 						<span class="label long">Which of these sources did you use to verify income eligibility?</span>
 					</label>
 					<label class="form-field">
 						<%= f.check_box :third_party_income_verified %> <span class="text">Third Party Service</span>
 					</label>
 					<label class="form-field">
 						<%= f.check_box :choice_scholarship_income_verified %> <span class="text">Tax Credit Scholarship Award</span>
 					</label>
 					<label class="form-field">
 						<%= f.check_box :document_income_verified %> <span class="text">Income Verification Form (and Supporting Documentation)</span>
 					</label>

 					<hr>

 					<h2>Scholarship Award</h2>

 					<div class="grid">
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Tuition and Fees for Applicant</span>
 								<%= f.text_field :tuition_for_application, :class => "input currency" %>
 							</label>
 						</div>
 						<div class="xl-6 l-6 ltl-12">
 							<label class="form-field">
 								<span class="label">Amount of Tax Credit Scholarship Award</span>
 								<%= f.text_field :choice_scholarship_amount, :class => "input currency" %>
 							</label>
 						</div>
 					</div>

 					<hr>
 					
 					<%= f.submit "Submit Application", :class => "btn btn-secondary btn-block" %>

 				</div>

 				<% end %>

 			</div>

 		</div>

 	</div>

 </article>

 <script type="text/javascript">

 	// Add applicants
 	$('form .add-fields').click(function(e){
 		var time = new Date().getTime();
 		var regexp = new RegExp($(this).data('id'), 'g');
 		$(this).before($(this).data('fields').replace(regexp, time));
 		e.preventDefault();
 	});

 	// address same as applicants
 	$('#same_address').click(function(){
 		if(this.checked){
 			$("#application_address").val($("#application_applicants_attributes_0_address").val());
 			$("#application_apartment_number").val($("#application_applicants_attributes_0_apartment_number").val());
 			$("#application_city").val($("#application_applicants_attributes_0_city").val());
 			$("#application_zip").val($("#application_applicants_attributes_0_zip").val());
 		} else { 
 			$("#application_address").val("");
 			$("#application_apartment_number").val("");
 			$("#application_city").val("");
 			$("#application_zip").val("");
 		};
 	});
 	</script>