<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.png') %>" />
</head>
<body>

	<div class="main-content">

		<header class="site-header">

			<section class="primary"></section>

		</header>

		<%= yield %>

	</div>

	<% if Rails.env.development? %>
	<div class="wrapper">
		<%= debug(params) %>
	</div>
	<% end %>
</body>
</html>
