<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'https://js.stripe.com/v1/', 'application' %>
	<%= csrf_meta_tags %>
	<%= tag :meta, name: "stripe-key", content: ENV['PUBLISHABLE_KEY'] %>
	<link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.png') %>" />
</head>
<body>

	<div class="main-content">

		<header class="site-header">

			<section class="primary">

				<% if user_signed_in? %>
				
				<div class="wrapper clearfix">

					<nav class="nav-drawer pull-right nav-drawer-right user-nav" data-nav-drawer>

						<button class="btn btn-primary btn-inline" data-hook="drawer-toggle">
							<span class="btn-content"><%= current_user.full_name %></span>
						</button>

						<div class="nav-drawer-content nav-drawer-content-padding" data-hook="drawer-content">

							<ul class="nav-drawer-list">
								<li>
									<%= link_to("Edit Profile", edit_user_registration_path) %>
								</li>
							</ul>

							<%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class => "btn btn-secondary btn-block") %> 

						</div>

					</nav>

				</div>

				<% end %>

			</section>

		</header>

		<article class="profile">

			<header>

				<section class="tabs">

					<div class="wrapper clearfix">

						<nav class="nav-inline nav-tabs">
							<ul>
								<% if current_user && current_user.sgo? %>
									<%= nav_link("Applications", applications_path) %>
									<%= nav_link("Donations", donations_path) %>
									<%= nav_link("Disbursements", disbursements_path) %>
								<% end %>
							</ul>
						</nav>
					</div>

				</section>

			</header>

			<%= yield %>

		</article>

	</div>

	<% if Rails.env.development? %>
	<div class="wrapper">
		<%= debug(params) %>
	</div>
	<% end %>
</body>
</html>
