<article class="profile">

	<div class="wrapper">

		<div class="grid">

			<div class="xl-12 l-12 ltl-12">
				
				<section class="box form form-normal">

					<div class="box-header">
						Actions
					</div>

					<div class="box-content">

						<div class="grid">

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("Add Child", new_child_path(@household), :class => "btn btn-secondary btn-block open-overlay") %>
							</div>

							<div class="xl-3 l-3 ltl-12">
								<%= link_to("New Application", new_application_path, :class => "btn btn-secondary btn-block") %>
							</div>

							<div class="xl-4 l-4 ltl-12">
								<%= link_to("Edit Household Information", edit_household_path(@household), :class => "btn btn-secondary btn-block") %>
							</div>

						</div>

					</div>

				</section>

				<section class="box">

					<header class="box-header">
						Household Information
					</header>

					<form class="box-content form form-horizontal xl-3-and-9 l-3-and-9 ltl-12-and-0">

						<label class="form-field">
							<span class="label">Household Income</span>
							<span class="input placeholder">
								$54,000
							</span>
						</label>

						<label class="form-field">
							<span class="label">Address</span>
							<span class="input placeholder">
								1310 S Cobble Creek Circle<br>
								Bloomington IN, 47401
							</span>
						</label>

						<label class="form-field">
							<span class="label">Number in Household</span>
							<span class="input placeholder">
								4
							</span>
						</label>

					</form>

				</section>

				<section class="box xl-12 ltxl-12">

					<header class="box-header">
						Children
					</header>

					<div class="table-responsive">

						<table class="box-content table">

						<colgroup>
							<col class="w-15">
							<col class="w-15">
							<col class="w-40">
							<col class="w-30">
						</colgroup>

						<thead>
							<tr>
								<th>
									Name
								</th>
								<th>
									Age
								</th>
								<th>
									Last Application Submitted On
								</th>
								<th>

								</th>
							</tr>
						</thead>

						<tbody>

							<% @household.children.each do |c| %>
							<tr>
								<td>
									<%= link_to(c.first_name, edit_child_path(@household, c)) %>
								</td>
								<td>
									<%= c.age %>
								</td>
								<td>
									<%= Date.today %>
								</td>
								<td>
									<%= link_to("Create New Application", new_application_path, :class => "btn btn-secondary") %>
								</td>
							</tr>

							<% end %>

						</tbody>

					</table>

				</div>

			</section>

			</div>

		</div>

	</div>

</article>